.rs{
    font-family:'Roboto Slab','Cambria', 'Trebuchet MS', serif;
}

.borderb{border:2px solid #377dff !important;color: #377dff }
body {

    font-family: "Segoe UI", Helvetica, 'Roboto', 'Open Sans',  sans-serif;
    color: #1e2022;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;


    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*background-color: #F7F8FB;*/
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .005em;
    /*font-family: "SF Pro Text",'Roboto',"Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;*/
    padding: 0;
    margin: 0;
    /*font-family: Roboto,sans-serif;*/
    font-weight: 400;
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,a.pad10.deliberation{
        color: #377dff;
        
}
img{max-width: 100%}
.color1{color: #444444;font-weight: bold}
.color2{color: #ffe41b}
.huge-h-4{font-size: 20px}
.huge-up{
    font-size: 35px;
    font-weight: 900;
    text-shadow:0 0 3px #dedede;
    font-family:  'Open Sans', fantasy, Andalus, Times, serif;
}
.alert,.message{
    padding: 12px;
    margin-bottom: 10px;
    background: #fff;
    border:0px solid #eee;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    border-left: 5px solid;
}
.headermenu{position: absolute;top:0px;z-index: 5000;width: 100%}

.alert-success,.message.message-success{
    border-left: 4px solid #1ab71d;/*1ab71d*/
    background-color: aliceblue;
    border-color:#1ab71d;
}
.alert-danger,.message.message-error,.message.message-danger{
    border-left: 4px solid #dd3d36;
    background-color: #fff4ec;
}
.alert-info,.message.message-info{
    border-left: 4px solid #1b809e;
    background-color: #d5e8f9;
}
.alert-default,.message.message-default{
    border-left: 4px solid #777;
}
.alert-warning,.message.message-warning{
    border-left: 4px solid #e89c30;
    background-color: #fdf6c1;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-weight: bold;
    font-family: 'Segoe UI',;
    text-transform: uppercase;
    font-size: 13px !important;
}

.fa.dicone{
    font-size: 60px;
    right:0;
    color: #8c8c8a;
    position: absolute;
    clear: both;
    z-index: -50;
    background: #fff;
}
/*.container{max-width: 980px}*/
#present_menu>li>a{
    padding: 8px 25px;
}
@media (min-width: 768px) {
    ul.nav li:hover > ul.dropdown-menu {
        display: block;
    }
    #navbar {
        text-align: center;
    }
} 
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #e5251b;
}
.menu-html-content *{
    font-size: 16px;
    /*font-weight: 400;*/
    font-family: 'Helvetica','Open Sans', serif;
}
.dropdown-menu-large > li ul > li > a:hover, .dropdown-menu-large > li ul > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #e5251b;
}
.navbar-default .navbar-nav>li>a{
    font-size: 15px;
}
.navbar-default .navbar-toggle{border-width: 0px}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: none;
    border-radius: 0;
}
.cfoot{
    background: #2f2f2e;
    color: #666;
    padding-bottom: 20px;
    padding-top: 15px;
}
.footer-socials .fa {
    font-size: 30px;
    margin-right: 30px;
}
.logo-footer{
    border-bottom-color: #4b4b4a;border-bottom: 1px solid #4b4b4a;
    height: 25px;
    position: relative;
    margin-bottom: 2.69231em;
    background: none;
}
.logo-footer a{
    background-color: #ebebeb;
    display: block;
    padding: 0 20px;
    height: 7px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -126px;
    background-color: #2f2f2e;
    text-align: center;
}
.logo-footer span{display: none}
.logo-footer a hgroup:hover{
    background: url('../images/app/logo_cous-up.png')  50% 50% no-repeat;
}
.logo-footer a hgroup,.logo-footer a hgroup:hover{
    width: 182px;
    height: 70px;
    background-size: contain;
    background-position: 10px 0;
}
.page-header{
    margin-top: 20px;

}
.grad-ios{
    background: url(http://images.apple.com/global/elements/productbmy-rowser/nav_bg.png) no-repeat 0 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(223,223,223,1)), color-stop(66%, rgba(242,242,242,1)), color-stop(90%, rgba(242,242,242,1)), color-stop(93%, rgba(230,230,230,1)), color-stop(96%, rgba(210,210,210,1)), to(rgba(140,140,140,1)));
    background: -webkit-linear-gradient(bottom, rgba(223,223,223,1) 0%, rgba(242,242,242,1) 66%, rgba(242,242,242,1) 90%, rgba(230,230,230,1) 93%, rgba(210,210,210,1) 96%, rgba(140,140,140,1) 100%);
    background: -moz-linear-gradient(bottom, rgba(223,223,223,1) 0%, rgba(242,242,242,1) 66%, rgba(242,242,242,1) 90%, rgba(230,230,230,1) 93%, rgba(210,210,210,1) 96%, rgba(140,140,140,1) 100%);
    background: -o-linear-gradient(bottom, rgba(223,223,223,1) 0%, rgba(242,242,242,1) 66%, rgba(242,242,242,1) 90%, rgba(230,230,230,1) 93%, rgba(210,210,210,1) 96%, rgba(140,140,140,1) 100%);
    background: linear-gradient(bottom, rgba(223,223,223,1) 0%, rgba(242,242,242,1) 66%, rgba(242,242,242,1) 90%, rgba(230,230,230,1) 93%, rgba(210,210,210,1) 96%, rgba(140,140,140,1) 100%);

}
.main-content{
    /*    padding: 20px 40px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        min-height: 500px;
        margin-top: 5px;*/
}
.cous-actu:nth-child(odd){
    background: #fefefe;

}
/*.cous-actu:nth-child(even){background: #fefefe}*/
.logo-footer a hgroup{
    background: url('../images/app/logo_cous-up-grey.png')  50% 50% no-repeat;
}
.logo-footer hgroup{    display: block;}
.cfoot a{color: #777;text-decoration: none} 
.navbar-default .navbar-toggle .icon-bar{
    background: #fff;
}
a{
    /*color: #03a9f4;63a6c8*/
    color: #377dff;
}
.dropdown-menu{
    -moz-box-shadow: -3px 11px 12px rgba(0,0,0,.175);
    -webkit-box-shadow: -3px 11px 12px rgba(0,0,0,.175);
    box-shadow: -3px 11px 12px rgba(0,0,0,.175);
}
.dicone{
    font-size: 60px;
    right:0;
    color: #8c8c8a;
    position: absolute;
    clear: both;
    z-index: -50;
    background: #fff;
}
.navbar{
    border-width: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    -moz-box-shadow:3px 3px 4px #ddd;
    -webkit-box-shadow:3px 3px 4px #ddd;
    box-shadow:3px 3px 4px #ddd;
}
.navbar-nav>li>.dropdown-menu{
    border: 1px solid #eee;
    border-top: 1px solid #fff;
    transition: ease .3s all;
    /*margin-right:-1px;*/
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
#present_menu{margin-right:-1px;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #fff;
    background-color: #e5201a;
}
#home-nav-tab{
    padding: 25px 0 0;
    /*background: #0c2a44;*/
    /*                border-top: 1px solid #ccc;
                     border-bottom:  1px solid #ccc;*/
}
#home-nav-tab .nav-tabs{
    border-bottom: 0px;
}
/*/////////////////////////navbar-default///////////////*/

.navbar-default {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #e02117 !important;
    margin-bottom: 0;
    border: none;
}
.os{
    font-family: 'Open Sans Light','Open Sans','Segoe UI',sans-serif;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:after {
    border-top:solid 0px #0cd4d2;

}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
    color:#e0e0e0;
}
.navbar-default .dropdown-menu {
    padding: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #878c94;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover{
    color: #ffffff;
}


/***********************
     megaDropMenu
////////////////////////////*/

.navbar-default .container{
    position:relative;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu {
    position: static;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu{
    width: 100%;
}
.dropdown-menu.row li>ul {padding: 0}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .dropdown-header{
    padding: 10px 0px 5px 15px;
    font-size: 16px;
    text-transform: uppercase;
    /* text-align: center; */
    color: #e4241c;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li {list-style-type: none;padding: 0 0px;}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a{
    display:block;color:#2d2d2d;font-size: 14px;text-decoration:none;padding:8px 15px;
}


.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu img{
    display: block;
    max-width: 100%;
    padding: 20px;
}
.topBar {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 13px;
}
.topBar ul {
    margin: 0;
}
.topBar ul li {
    line-height: 35px;
}
.topBar a {
    color: #fdea18;text-decoration:none;
}
/*                .text-primary {
                    color: #0cd4d2;
                }*/

.topBar ul.topBarNav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topBar ul.topBarNav li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.topBar ul.topBarNav li:last-child {
    border-right: none;
}
.topBar ul.topBarNav li a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar-default .navbar-nav>li:hover >a {
    color: #000;
}

.topBar ul.topBarNav li ul {
    background-color: #ffffff;
    position: absolute;
    top: 42px;
    left: auto;
    min-width: 10px;
    right: 4px;
    border-radius: 0px;
    border: solid 0px;
    margin-right: -4px;
    padding: 0;
    list-style-type: none;
    z-index: 9999;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}
.topBar ul.topBarNav li ul li {
    display: block;
    line-height: 30px;
    width: 100%;
    border: none;
}

.topBar ul.topBarNav li a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}
.topBar .dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94; 
    font-size:15px;
    transition: ease .2s all;
    white-space: nowrap;
}
.topBar .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #e4201a;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.02);
}


/*CART/////////////////////*/


.cart-items::-webkit-scrollbar {
    width: 6px;
    background-color: #ECECEC;
}
.cart-items::-webkit-scrollbar-track {

}
.cart-items::-webkit-scrollbar-thumb {
    background-color: #084951;
    outline: 1px solid black;
}

.topBar ul.topBarNav li ul.cart .cart-items{
    padding: 10px;
    height: 200px;
    overflow: auto;
}

.topBar ul.topBarNav li ul.cart .cart-items .items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li {
    overflow: hidden;
    clear: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.topBar ul.topBarNav li ul.cart .cart-items .items li .product-image {
    width: 60px;
    float: left;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li a {
    margin: 0;
    padding: 0;
    line-height: normal;
    background-color: transparent;
    display: inline;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details {
    position: relative;
    margin-left: 60px;
    padding: 0 15px 0 10px;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: normal;
}
.topBar ul.topBarNav li ul.cart .cart-footer {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.02);
}
.topBar ul.topBarNav li ul.cart .cart-footer a {
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    background-color: transparent;
}


/*/////////////////////////middleBar//////////////////////*/

.middleBar {
    padding: 10px 0 0 0;
    margin: 0;min-height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 767px){
    .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a:hover{
        color: #ffffff;
        text-decoration: none;
        background-color: #e4241c;
    }
    #quote-carousel .carousel-control.left {
        left: -60px;
    }
    #quote-carousel .carousel-control.right {
        right: -60px;
    }
    .display-table {
        display: table;
        width: 100%;
    }
    .navbar-nav>li:hover{background: #fff;border-top: 2px solid #e4201a;margin-top: -2px;stransition: ease .2s all;}
    .vertical-align {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
    .grid-space-1 div[class*="col-"] {
        padding: 0 1px;
    }
}
.text-list li{
    line-height: 20px;
    padding: 5px 0;
    border-bottom: 1px dotted #ddd;
}
.text-list li>a{
    text-decoration: none;
    font-size: 15px;
    color: #333;
    line-height: 80%;
}
.cactu_image a img{
    max-height: 100px;
    padding: 10px 10px 10px 0;
}
.input-lg{height: 40px}
.btn-group-lg>.btn, .btn-lg{font-size: 14px;}
@media (max-width: 767px){
    .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li{
        color: #ffffff;
        text-decoration: none;
        /*background-color: #e4241c;*/
    }
    .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .dropdown-header{
        color: #ECECEC;
        font-weight: bold;
        padding: 10px 0px 5px 0px;
    }
    .actu-titre
    .fa.dicone{
        float: left;
        color: #eee;
        /*display: block;*/
        background: #e02117;
        z-index: 100;
        float: left;
        margin: 0 5%;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border: 0px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color:#dedede;
    }
    li.dropdown-header small.text-muted{color: #c1c1c1;}
    .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a{
        color: #fff4ec;
    }
    .divider{display: none}
    #quote-carousel .carousel-control.left {
        left: -30px !important;
    }
    #quote-carousel .carousel-control.right {
        right: -15px !important;
    }
    .cfoot ul>li{
        padding: 5px 10px;
        display: block;
        border-bottom: 1px solid #444444;
    }
    i.fa.fa-angle-down.ml-5{
        float: right;
    }
    div[class^="col-"] {
        margin-bottom: 0px;
        margin-top: 3px;
    }
    #logo{
        max-height: 55px;
    }
}
#adv-search .input-group .form-control:focus{
    box-shadow: none;
}
.middleBar .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.form-control.input-lg {
    font-size: 15px;
}

.middleBar .btn.btn-default {
    color: #ffffff;
    background-color: #2196f3;
    border: 1px solid #2196f3;
    border-radius: 0px;
}
.middleBar .header-items .header-item {
    display: inline-block;
}

.middleBar .header-items .header-item a {
    position: relative;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 40px;
    height: 40px;
    //line-height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    color: #35404f;
}
.middleBar .header-items .header-item a sub {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #0cd4d2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    font-size: 9px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.middleBar .header-items .header-item a:hover {
    background-color: #0cd4d2;
    color: #ffffff;
}


/************************************************************/

#home-nav-tab .nav-tabs>li a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    color: #000000;
    border: 0;
    border-radius: 0;
    text-shadow:-1px -1px 0px rgba(226, 191, 191, 0.61);
}
#home-nav-tab .nav-tabs>li,#home-nav-tab .nav-tabs>li.active a,#home-nav-tab .nav-tabs>li.active{
    /*                -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;*/
}
#home-nav-tab .nav-tabs>li.active a{
    border: 0px;
    text-shadow:-1px -1px 0px rgba(0,0,0,.8);
    background: #e5201a;color: #ffffff;

}
.note-popover .popover-content, .panel-heading.note-toolbar{
    background: none !important;
}
#home-nav-tab .nav-tabs>li:last-child{border-width: 0px;}
#home-nav-tab .nav-tabs>li a{
    /*overflow: hidden*/
}
#home-nav-tab .nav-tabs>li {
    white-space: nowrap;
    text-overflow:ellipsis;
    /*overflow: hidden;*/
    width: 33.33%;
    background: #fbdf0c;
    /*padding: 10px 30px;*/
    text-align: center;
    border-right: 1px solid rgb(210, 196, 96);
    margin-right: 0;

}
#home-nav-tab .nav-tabs>li.active a::after{
    display: block;
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 88%;
    left: 50%;
    border-left: 0.7rem solid rgba(255, 255, 255, 0);
    border-right: 0.7rem solid rgba(255, 255, 255, 0);
    margin: 0px 0px 0px -0.25rem;
}
#home-nav-tab .nav-tabs>li.active a::after{
    border-bottom: 0.7rem solid #0c2a44;
}
#hmenu>li> a{
    padding:0 15px 0 5px;
    border-right: 1px solid #9c9292;
    text-decoration: none;
    color: #f5f5f5;
}
body{
    /*background: url('"assets/images/app/body_bg2.jpg"') #fff  fixed;*/
    background-size: auto 100% 
}


.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
/*.container{max-width: 1045px}*/

.navbar{min-height: 20px}
.logo{max-height: 100px;margin-top: 10%;}  
#main {
    min-height: 500px;
    background: #fff;
    /*font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    /*margin-bottom: 20px;*/

}

.mini-rs {
    height: 30px;
    border-radius: 100%;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: #fff;
}
.navbar-default .navbar-nav>li>a{color: #fff;}
#top-link .text-red{color: #e8d017;font-weight: 300}
#top-link{ 
    color: #fff;
    background: #0A3764;
    font-size: 13px;
}
.stylish-input-group {
    /*margin: 5px 0;*/

}
.actu-titre a:hover{
    text-decoration: none;
}
.bold{font-weight: bold;}
.actu-titre a{
    text-decoration: none;
    /*font-size: 25px;*/
    //display: block;
    //font-family: "oswald","impact","Bree Serif",Georgia,serif;
    font-weight: normal;
    line-height: 105%;
    font-size: 22px;
    font-weight: 900;
    margin: 0 0 .2rem;
    //line-height: 110%;
    //color: #036;
    /*font-weight: bold;*/
}
.stylish-input-group .input-group-addon{
    background: white !important;
    border-radius: 0;
    border-color:#eee;
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#eee;
    border-radius: 0;
}
.stylish-input-group button{
    border-radius: 0;
    border-color:#eee;
    border:0;
    background:transparent;
}
.stylish-input-group button{font-size: 12px}
.pheader{
    font-weight: 300;

    text-transform: uppercase;
    color: #0ec523;
    font-size: 29px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px
}
/******************************************************/
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

/*.navbar .navbar-collapse { position: relative; overflow: hidden !important; }*/
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .carousel-inner, .carousel-inner.item > img{
        height: auto;
    }
    .slide-text h1{
        font-size: 100% !important;
    }
    .slide-text > p{
        margin-top:3px;
    }
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }

    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }

    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}

/*.dropdown-large {
    position: static !important;
}
.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;

}
.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}
.dropdown-menu-large > li > ul > li {
    list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
    color: #ea1710;
    font-size: 16px;
}*/
.dropdown-menu .dropdown-header{
    white-space: normal;
}
@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
}

/*******************************************************/
.section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}
.headline h2, .headline h3, .headline h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #ffe41b;
    text-align: left;
}
.headline h2 {
    font-size: 22px;
}
.thumbnail-style {
    padding: 0px;
    margin-bottom: 20px;
    height: 350px;
    overflow: hidden;
}
.thumbnail-style .thumbnail-img {
    position: relative;
    margin-bottom: 11px;
}
.overflow-hidden {
    overflow: hidden;
}
.bg-light{background: #f7f7f7 !important}
.thumbnail-kenburn img {
    left: 10px;
    margin-left: -10px;
    position: relative;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.thumbnail h3 a, .thumbnail-style h3 a {
    color: #585f69;
    font-size: 18px;
}
.thumbnail-style{
    background: #ffffff;
}
.thumbnail-style:hover {
    box-shadow: 0 0 8px #ddd;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}
.thumbnail-kenburn:hover img {
    -webkit-transform: scale(1.2) rotate(2deg);
    -moz-transform: scale(1.2) rotate(2deg);
    -o-transform: scale(1.2) rotate(2deg);
    -ms-transform: scale(1.2) rotate(2deg);
    transform: scale(1.2) rotate(2deg);
}
.thumbnail-style:hover a.btn-more {
    right: 10px;
    transition: ease all .3s;
}
.thumbnail-style a.btn-more:hover {
    text-decoration: none;
    -moz-box-shadow: 0px 0px 4px #ddd;
    -webkit-box-shadow: 0px 0px 4px #ddd;
    box-shadow: 0px 0px 4px #ddd;
}
.new-caption{
    padding: 0 10px 7px;
    height: 120px;
}
.thumbnail-style a.btn-more {
    right: 0px;
    bottom: 10px;
    transition: ease all .3s;
    color: #fff;
    padding: 1px 6px;
    position: absolute;
    background: #e5201a;
    display: inline-block;
}

a, a:focus, a:hover, a:active {
    outline: 0 !important;
}
.news-cover{
    height: 130px;
    border-bottom: #f8f8f8 0px solid;
}
/*Team-Social (Temporary)*/
.team-social {
    margin-bottom: 0;
}

.team-social li {
    padding: 0 2px;
}

.team-social li a {
    font-size: 14px;
    padding: 6px 4px;
    text-align: center;
    border-radius: 50% !important;
}

.team-social li i {
    min-width: 20px;
}

.team-social li a.fb {
    color: #4862a3;
    border: 0px solid #4862a3;
}

.team-social li a.tw {
    color: #159ceb;
    border: 0px solid #159ceb;
}

.team-social li a.gp {
    color: #dc4a38;
    border: 0px solid #dc4a38;
}

.team-social li a:hover {
    text-decoration: none;
}

.team-social li a.fb:hover {
    color: #fff;
    background: #4862a3;
}

.team-social li a.tw:hover {
    color: #fff;
    background: #159ceb;
}

.team-social li a.gp:hover {
    color: #fff;
    background: #dc4a38;
}
/*******************************************************/
.service-block-v4 .service-desc>div{
    background-color: #fff;
    border-radius: 10px 10px;
    box-shadow: -1px 3px 12px #ddd;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 0 14px 16px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 280px;
}

/*******************************************************/
/* RIGHT
*********************************************************/
.widget-title {
    overflow: hidden;
    background: #0c2a44;
    margin-bottom: 0px;
    border-radius: 0 30px 0 0;
}
.panel-bodyrond{
    border-radius: 0 0 0 30px;
}

.widget-title .icon, .widget_categories ul li:hover, .review-stars div {
    background-color: #0197D4;
}
.widget-title.widget-danger{
    background: #c00
}
.widget-title.widget-danger .icon{
    background: #333333;
}
.widget-title.widget-warning{
    background: #ffb200
}
.widget-title.widget-warning .icon{
    background: #8e6609;
}
.widget-title.widget-default{
    background: #bfbfbf
}
.widget-title.widget-default .icon{
    background: #a1a79d;
}
.widget-title .icon {
    background-color: #0197D4;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #f5f6f7;
    padding: 0 10px;
    margin: auto;
}
.widget-title h4 {
    margin-top: 9px;
    margin-left: 12px;
    float: left;
    color: #FFFFFF;
    text-transform: uppercase;
}

.widget-title h4 a {
    color: #FFFFFF;
}
